.App {
background-color: #597cfe;
}

/*   ------   Home page ---------  */
.sidebar{
  height:100%;width:7%;position: fixed;
  background-color: white;z-index:1;
  display: flex;flex-flow: column;
  justify-content:space-around;flex-wrap: wrap;
  top:0;left:0;
}

.my-logo{position: relative;top:10px; max-width:90px;width:100%;}
.my-logo:hover{border:8px solid #ffde59; }

.icons{width:100%;max-width:70px; }
.icons:hover{border:8px solid #ffde59;background-color: white;}


.home{margin-top: 100px;margin-left: 50px;
  display:flex;flex-flow: row;
  justify-content: center;
   align-items: center;
    flex-wrap: wrap;}
.my-photo{height:400px;
	 background-color: #ffde59;
   border-radius:70% 10%;transition:border-radius 0.8s;}
.my-photo:hover{border-radius:10% 70%;}


.details{margin-left:50px; }
.name{text-shadow: 2px 2px 5px black;
    font-family: 'Just Another Hand', cursive;
    font-size: 150px;color:#ffde59; ;text-align: center;}
.name:hover{color: white; }

.role{font-size: 40px;font-family: 'Josefin Sans', sans-serif;}
.role:hover{color: #ffde59; }
.profile{margin-left: 10px;height: 40px;width:40px;cursor: pointer;
  border:3px solid #ffde59;border-radius: 20%;background-color: white;}
.profile:hover{background-color:#ffde59; }


/* ----- Project page ---------  */
.project-page{margin-top: 20px;margin-left: 50px;
  display:flex;flex-flow: column;
  justify-content: center;
   align-items: center;
    flex-wrap: wrap;font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;color: #ffde59;
}
.skill{color: #ffde59;
    height: 500px;width: 500px;
}
.pro-container{

  display:grid;grid-gap: 1rem;}
@media (min-width: 600px) {
  .pro-container{ grid-template-columns: repeat(1, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .pro-container{ grid-template-columns: repeat(2, 1fr); }
}
.pro-box{font-size: 1rem;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;


}
.screenshot{width: 50%;height:50%;border-radius: 10%;border: 2px solid black; }
.screenshot:hover{opacity: 0.2;  }
.about{color: black;
  font-size: 1rem;text-align: center;
}

/*  ------ Contact page --------   */
.contact-page{
  margin-top: 100px;margin-left: 50px;
    display:flex;flex-flow: column;
    justify-content: center;
     align-items: center;
      flex-wrap: wrap;font-size: 2rem;
      font-family: 'Josefin Sans', sans-serif;color: #ffde59;

}
.btn {
  background: #d9cb34;
  border-radius: 28px;
  font-family: Georgia;
  color: #000000;
  font-size: 34px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;

}
